


h1{
	text-align:center; color:blue;position:relative; z-index:2;
}

.words{
	text-align:justify; color:black;position:relative;z-index:1;
}

.rectangle{
	height:100%;width:100%;background:orange;opacity:0.7;position:relative;z-index:-1;
}